.ColorBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.ColorBox:active{
  transform: scale(0.9);
}

@media (max-width: 768px) {

  .ColorBox {
    width: 100%;
    height: 100px;
  }

}
